
<div id="results">
  <div class ="well well-small" >
    <%= page_entries_info filelist%>
  </div>
  <table class = "table">
    <tbody>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Owner</th>
      <th>School</th>
      <th>Teacher</th>
      <th>Class</th>
    </tr>
    <% filelist.each do |file| %>
        <% if !file.user.nil? %>
        <% @user = User.find(file.user) %>
        <% else %>
        <% user = nil %>
            <% end %>
        <tr>
          <td><%= file.file_name %></td>
          <td><a href = "/staff/laplaya/<%= file.id %>"><%= file.id %></a></td>
          <td>
            <% if (!@user.nil?) %>
                <%= @user.name %>
                <% end %>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate filelist %>
</div>



