<div class="row" id="base_laplaya_files">
  <div class="base_laplaya_file col-md-6">
    <h2>Task Base LaPlaya File</h2>
    <%= render partial: 'laplaya_file_form', locals: {
            laplaya_file: @page.task_base_laplaya_file,
            clone_url: clone_laplaya_task_path(page),
            laplaya_files_collection: @user_laplaya_files} %>
  </div>
  <div class="laplaya-analysis-file col-md-6">
    <h2>Analysis file</h2>
    <%= link_to 'Download current file', analysis_file_laplaya_task_path(@laplaya_task) if @laplaya_task.laplaya_analysis_file.data.present? %>
    <%= simple_form_for @laplaya_task.laplaya_analysis_file, url: analysis_file_laplaya_task_path(@laplaya_task) do |f| %>
        <div class="form-inputs">
          <%= f.file_field :data, accept: 'application/javascript,text/plain' %>
          File must have .js or .txt extension.
        </div>
        <div class="form-actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>
