<div class="row" id="base_laplaya_files">
  <div class="base_laplaya_file col-md-4" id="base-file">
    <div class="files-header">
      <h2>Starting File</h2>
    </div>
    <%= render partial: 'laplaya_file_form', locals: {
            laplaya_file: @page.task_base_laplaya_file,
            open_url: base_file_laplaya_task_path(@page),
            clone_url: clone_laplaya_task_path(page),
            laplaya_files_collection: @user_laplaya_files,
            clone_direct: {id: @page.task_completed_laplaya_file.id, button_label: 'Clone from solution file'}
    } %>
  </div>
  <div class="base_laplaya_file col-md-4" id="solution-file">
    <div class="files-header">
      <h2>Solution File</h2>

      <h3>Only used by designers and teachers, not for analysis</h3>
    </div>
    <%= render partial: 'laplaya_file_form', locals: {
            laplaya_file: @page.task_completed_laplaya_file,
            open_url: solution_file_laplaya_task_path(@page),
            clone_url: clone_completed_laplaya_task_path(page),
            laplaya_files_collection: @user_laplaya_files,
            clone_direct: {id: @page.task_base_laplaya_file.id, button_label: 'Clone from starting file'}
    } %>
  </div>
  <% if can? :update, @page %>
      <div class="laplaya-analysis-file col-md-4" id="analysis-file">
        <div class="files-header">
          <h2>Analysis file</h2>
        </div>
        <p>Updated at: <%= get_time(@laplaya_task.laplaya_analysis_file) %></p>
        <%= link_to 'Download current file', analysis_file_laplaya_task_path(@laplaya_task) if @laplaya_task.laplaya_analysis_file.data.present? %>
        <%= simple_form_for @laplaya_task.laplaya_analysis_file, url: analysis_file_laplaya_task_path(@laplaya_task) do |f| %>
            <div class="form-inputs">
              <%= f.file_field :data, accept: 'application/javascript,text/plain' %>
              File must have .js or .txt extension.
            </div>
            <div class="form-actions">
              <%= f.submit class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
      <div id="delete-responses" >
        <%= button_to "Reset All Responses", {action: "delete_all_responses", id: @page.id},
                      class: "btn btn-danger btn-xs",
                     form_class: "delete-all-responses-form", method: :delete, data:{email: current_staff.email}%>
      </div>
  <% end %>
</div>
