<div class="question-box" id="assessment_question_<%= question.id %>">
  <div class="question-title">
    <%= question.title %>
  </div>
  <div class="main-question">
    <div class="question-body">
      <%= question.question_body.html_safe %>
    </div>
    <div class="question-answers">
      <%= render partial: "question_answer",
                 collection: JSON.parse(question.answers),
                 locals: {:question => question} %>
    </div>
    <hr>
    <div class="student-response">
      <% unless question.question_type == "freeResponse" %>
          <%= render partial: "student_response", locals: {
                  :question_type => question.question_type,
                  :answers => JSON.parse(question.answers),
                  :selected => (student_response.selected == "" ? [] : JSON.parse(student_response.selected))
          } %>
      <% else %>
          Student response: <br>

          <div class="free-response-answer-div">
            <%= student_response.selected %>
          </div>
      <% end %>
    </div>
  </div>
</div>