<tr>
  <td>
    <%= response.task_response.student.school.name %>
  </td>
  <td>
    <%= response.task_response.school_class.name %>
  </td>
  <td>
    <%= response.task_response.student.id.to_s %>
  </td>
  <td>
    <% unless type=="freeResponse" %>
        <% JSON.parse(response.selected).each { |r| %>
            <%= (r+1).to_s %>
        <% } %>
    <% else %>
        <div class="student-free-response">
          <%= response.selected %>
        </div>
    <% end %>
  </td>
</tr>