<div id="page-title">
  <%= @assessment_task.title %>
</div><br>
<div>
  <div id='student-link'>
    <%= link_to "#{@student.name}'s progress", school_class_student_progress_path(@school_class, @student) %>
    <br>
    <%= link_to "All #{@assessment_task.title} responses", task_responses_path(task: @assessment_task) %>
  </div>
  <div id="select-other-student-form">
    <form id='change-student' action="<%= @task_response.id %>">
      <select id="other-responses" class="form-control input-sm">
        <% @students.each_with_index { |s, i| %>
            <option value="<%= @responses_map[i] %>" <%= 'selected' if @responses_map[i] == @task_response.id %>><%= s.name %></option>
        <% } %>
      </select>

      <div class="form-actions">
        <input type="submit" class="btn btn-default btn-sm" value="View other student answers" id="change-student-button">
      </div>
    </form>
  </div>
</div>
<div class="student-body">
  <%= @assessment_task.student_body.html_safe %>
</div>

<div class="task-response-questions">
  <% @task_response.assessment_question_responses.each { |aqr| %>
      <%= render partial: 'questions', locals: {
              question: aqr.assessment_question,
              student_response: aqr
      } %>
  <% } %>
</div>