<% provide(:title, 'Student sign in') %>
<h2>Student sign in</h2>

<%= simple_form_for :session, url: student_portal_sessions_path do |f| %>
    <div class="form-inputs">
      <% selected_school_id = 1 %>
      <%= f.input :school, include_blank: false, collection: School.all.to_a, selected: selected_school_id %>
      <%= f.input :login_name, collection: School.find(selected_school_id).students.pluck(:login_name) , include_blank: true, selected: 0, input_html: {
      'data-option-dependent' => true,
      'data-option-observed' => 'session_school',
      'data-option-url' => '/schools/:school_id:/student_logins.json',
      'data-option-key-method' => :login_name,
      'data-option-value-method' => :login_name }%>
      <%= f.input :password, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign in" %>
    </div>
<% end %>
