<% provide(:title, 'Create a new student') %>
<h1>Create a new student at <%=@school.name%></h1>


<%= simple_form_for @student, url: school_students_path do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :login_name, required: true, autofocus: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create user" %>
    </div>
<% end %>
