<%= semantic_form_for [:admin, @student] do |f| %>
    <%= f.inputs 'Student Details' do %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :login_name %>
        <%= f.input :password, required: false, label: 'Password' %>
        <%= f.input :password_confirmation, required: false, label: 'Password confirmation' %>


    <% end %>
    <%= f.actions do %>
        <%= f.action :submit %>
        <li class="cancel">
          <%= link_to 'Cancel', :back %>
        </li>
    <% end %>


<% end %>
<div id = "other-student-actions" class="panel">
  <%= render 'other_student_actions' %>
</div>