<% if can? :read, TaskResponse.where(task: @page) %>
    <%= link_to "View student responses", task_responses_path(:task => @page.id), class: 'btn btn-default'%>
<% end %>
<ul id="children" <%= 'class=octopisortable' if can? :update, page %> >
  <%= render partial: 'page', collection: page.children.where(assessment_question: nil) %>
</ul>
<% if can? :update, @page %>
    <%= simple_form_for([page, page.children.build], html: {class: 'new_child_page'}, remote: true) do |f| %>
        <%= f.hidden_field :title, value: 'New Question' %>
        <%= f.hidden_field :question_body, value: '<p></p>' %>
        <%= f.hidden_field :answers, value: '[{"text":"<p></p>","correct":true}]' %>
        <%= f.hidden_field :question_type, value: 'singleAnswer' %>
        <%= f.submit 'Add a new Question', class: 'btn btn-default', id: 'add-new-child-btn' %>
    <% end %>
    <div id="delete-responses">
      <%= button_to "Delete All Responses", {action: "delete_all_responses", id: @page.id},
                    class: "btn btn-danger btn-xs",
                    form_class: "delete-all-responses-form", method: :delete, data: {email: current_staff.email} %>
    </div>
<% end %>