<div id="page-title">
  <%= @activity_page.title %>
</div>
<div id='parent-link'>
  <%= link_to "Return to #{@activity_page.module_page.title}", student_portal_module_path(@module_page) %>
</div>
<div class="student-body">
  <%= @activity_page.student_body.html_safe %>
</div>

<div id="children-pages">
  <%= render partial: 'student_portal/pages/activity_page/children', collection: @tasks, as: :child %>
</div>

<div id="other-links">
  <div id="sandbox">
    <%= link_to image_tag('75px-Sandbox.png'), student_portal_module_sandbox_path(@module_page), id: 'sandbox-link' %>
    <p>
      Sandbox
    </p>
  </div>
  <div id="project">
    <%= link_to image_tag('375px-Open_book_nae_02.svg.png'), student_portal_module_project_path(@module_page), id: 'main-project-link' %>
    <p>
      Design Thinking Project
    </p>
  </div>
</div>
