<%= render partial: "inner_header" %>
<%= simple_form_for @task_response, url: student_portal_assessment_task_response_path(@page), action: :post do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs task-response-questions">
      <%= f.simple_fields_for :assessment_question_responses do |p| %>
          <%= render partial: 'student_portal/pages/assessment_task/task_question_form_inputs', locals: {f: f, p: p, question: p.object.assessment_question } %>
      <% end %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Submit your answers', class: 'btn btn-default' %>
    </div>
<% end %>


<script>
  $('.answer-input').change(function(){
      parent_box = $(this).parents().closest(".question-box")
      var str = "["
      parent_box.find('.answer-input').each(function(){
          if($(this).prop('checked')===true){
              str+=$(this).val()+","
          }
      });
      parent_box.find(".question-input").first().val(str+"]");
      console.log(str)
  });
</script>