<div id="select-module">
  <div class="form-group" id="module-list">
    <% if current_school_class.module_pages.student_visible.count > 1 %>
        <form id="change-module" action="<%= @module_page.id %>">
          <label for="modules" class="select required control-label">Select a different module</label>
          <select id="modules" class="form-control">
            <%= render partial: 'student_portal/pages/module_page/module_options', collection: current_class_modules_for_select, as: :module_page %>
          </select>

          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Switch Modules" id="change-module-button">
          </div>
        </form>
    <% end %>
  </div>
</div>

<div id="page-title">
  <%= @module_page.title %>
</div>

<div class="student-body">
  <%= @module_page.student_body.html_safe %>
</div>

<div id="other-links">
  <div id="sandbox">
    <%= link_to image_tag('75px-Sandbox.png'), student_portal_module_sandbox_path(@module_page), id: 'sandbox-link' %>
    <p>
      Sandbox
    </p>
  </div>
  <div id="project">
    <%= link_to image_tag('375px-Open_book_nae_02.svg.png'), student_portal_module_project_path(@module_page), id: 'main-project-link' %>
    <p>
      Design Thinking Project
    </p>
  </div>
</div>

<div id="children-pages">
  <%= render partial: 'student_portal/pages/module_page/children', collection: @activity_pages, as: :child %>
</div>

