<div class="assessment_question_fields question-box" id="assessment_question_<%= question.id %>">
  <div class="question-title">
    <%= question.title %>
  </div>
  <div class="question-body">
    <%= question.question_body.html_safe %>
  </div>
  <div id="question-answers">
    <%= render partial: "student_portal/pages/assessment_task/question_answer",
               collection: JSON.parse(question.answers),
               locals: {
                       :question => question,
                       f: p,
                       p: p
               } %>
    <% #hidden field needs a class so that it can be accessed in javascript  %>
    <% unless question.question_type=="freeResponse" %>
        <%= p.hidden_field :selected, class: 'question-input' %>
    <% else %>
        <%= p.input :selected, class: 'question-input', label: "Answer:", input_html:{rows: 4}%>
    <% end %>
    <%= p.hidden_field :assessment_question_id %>
  </div>
</div>