<%= semantic_form_for [:admin, @staff] do |f| %>
    <%= f.inputs "Staff Details" do %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <% if devise_mapping.confirmable? && @staff.pending_reconfirmation? %>
            <li>Currently waiting confirmation for: <%= resource.unconfirmed_email %>. <%= link_to "Resend confirmation", staff_confirmation_path, data: { method: :post } %></li>
        <% end %>
        <%= f.input :password, required: false, label: "New password" %>
        <%= f.input :password_confirmation, label: "New password confirmation" %>
        <% if @staff == current_staff %>
            <%= f.input :current_password %>
        <% else %>
            <%= f.input :roles, as: :select, collection: Role.globa, label: "Global roles" %>
        <% end %>
        <%= f.input :super_staff, as: :boolean if can? :create_super_staff, User %>
    <% end %>
    <%= f.actions do %>
        <%= f.action :submit %>
        <li class="cancel">
          <%= link_to 'Cancel', admin_staff_index_path %>
        </li>
    <% end %>


<% end %>
