<% if this_student_has_unlocked_this_activity?(activity_page) %>
    <li id="activity_<%= activity_page.id %>_student_<%= @student.id %>">
      <%= activity_page.title %>
      <ul class="task-ul">
        <%= render partial: "school_classes_student_progress/task_list_element", collection: activity_page.tasks, as: "task" %>
      </ul>
    </li>
<% else %>
    <li class="locked-activity" id="activity_<%= activity_page.id %>_student_<%= @student.id %>">
      <%= image_tag("padlock.png", size: "20") %>
      <%= activity_page.title %>
      <div class="unlock-button">
        <%= simple_form_for [@school_class, @unlocks.build], html: {method: :post}, remote: true do |f| %>
            <%= f.hidden_field :unlockable_id, value: activity_page.id %>
            <%= f.hidden_field :student_id, value: @student.id %>
            <%= f.hidden_field :unlockable_type, value: Page %>
            <%= f.hidden_field :from_student_view, value: true %>
            <%= f.submit "Unlock", class: 'btn btn-xs btn-default' %>
        <% end %>
      </div>
      <ul class="task-ul">
        <%= render partial: "task_list_element", collection: activity_page.tasks, as: "task" %>
      </ul>
    </li>
<% end %>