<% status = task.get_visibility_status_for(@student, @school_class) %>
<% if status == :locked %>
    <li class="locked-task">
      <%= image_tag("padlock.png", size: "15") %>
      <%= task.title %>
      <div class="unlock-button">
        <%= simple_form_for [@school_class, @unlocks.build], html: {method: :post}, remote: true do |f| %>
            <%= f.hidden_field :unlockable_id, value: task.id %>
            <%= f.hidden_field :student_id, value: @student.id %>
            <%= f.hidden_field :unlockable_type, value: Task %>
            <%= f.submit "Unlock", class: 'btn btn-xs btn-default' %>
        <% end %>
      </div>
    </li>
<% elsif status == :completed %>
    <li class="completed-task">
      <%= task.title %> - Completed
    </li>
<% else %>
    <li class="unlocked-task">
      <%= task.title %>
    </li>
<% end %>
