<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Home', student_portal_root_path %></li>
    <% if signed_in_student? && current_school_class.module_pages.any? %>
        <li><%= link_to 'Get started!', student_portal_module_path(current_school_class.module_pages.first) %></li>
    <% end %>
    <li><%= link_to 'Help', student_portal_help_path %></li>
    <% if staff_signed_in? %>
        <li><%= link_to 'Non-Student Portal', main_app.home_path %></li>
    <% else %>
        <li><%= link_to 'Non-Student Portal', new_staff_session_path %></li>
    <% end %>
    <% if signed_in_student? %>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_student.name %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Profile', '#' %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', student_portal_signout_path, method: 'delete' %></li>
          </ul>
        </li>
    <% else %>
        <li><%= link_to 'Student Sign In', student_portal_signin_path %></li>
    <% end %>
  </ul>
</div>


