<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Student Homepage', student_portal_root_path %></li>
    <li><%= link_to 'Help', student_portal_help_path %></li>
    <% if current_staff %>
        <li><%= link_to 'Staff/Teachers', staff_root_path %></li>
    <% end %>
    <% if signed_in_student? %>
        <%= render 'student_signed_in_dropdown' %>
    <% else %>
        <li><%= link_to 'Student Sign In', student_portal_signin_path %></li>
    <% end %>
  </ul>
</div>


