<% student = student[1] %>
<% response = task[:responses][student[:id]] %>
<% unless response.nil? %>
    <div id="task_<%= task[:id] %>_student_<%= student[:id] %>" class="student-status">
      <%= button_to 'Reset', reset_school_class_task_responses_path(@school_class, response),
                    class: "btn btn-default btn-xs",
                    form_class: "reset-single-response", method: :delete %>
    </div>
<% else %>
    <div id="task_<%= task[:id] %>_student_<%= student[:id] %>" class="student-status">
      <b>N/A</b>
    </div>
<% end %>