<hr>
<table id="tasks-table">
  <thead>
  <tr>
    <th>
      <b>First Name</b>
    </th>
    <th>
      <b>Last Name</b>
    </th>
    <% @info[:tasks].each { |task| %>
        <th>
          <b><%= link_to task[:title], get_path_for_task(task) %></b>
        </th>
    <% } %>
  </tr>
  </thead>
  <tbody>
  <% @info[:students].to_a.each { |student| %>
      <tr>
        <%= render partial: 'school_classes/school_classes_activities/reset_page/student_name', locals: {student: student, activity: @info[:activity]} %>
        <% @info[:tasks].each { |task| %>
            <td>
              <%= render partial: 'school_classes/school_classes_activities/reset_page/reset_response', locals: {task: task, student: student}, as: 'student' %>
            </td>
        <% } %>
      </tr>
  <% } %>
  </tbody>
  <tfoot>
  <tr id="button-tr">
    <td class="button-td">
    </td>
    <td class="button-td">
    </td>
    <% @info[:tasks].each { |task| %>
        <td class="button-td">
          <div class="unlock-all-box">
            <% unless task[:responses].values.all? { |i| i.nil? } %>
                <%= simple_form_for :task, url: reset_task_school_class_path(@school_class),
                                    html: {class: 'reset-task-form'},
                                    method: :delete do |f| %>
                    <%= f.hidden_field :task_id, value: task[:id] %>
                    <%= f.submit 'Reset Task', 'data-email' => current_staff.email, class: 'btn btn-danger btn-xs' %>
                <% end %>
            <% else %>
                <b>N/A</b>
            <% end %>
          </div>
        </td>
    <% } %>
  </tr>
  </tfoot>
</table>