<% provide(:title, @page.title) %>
<div class='pages'>
  <%= div_for @page, class: 'page' do %>
      <%= render 'page_header' %>
      <%= render partial: 'show_page_tabs', object: @page, as: :page %>
      <% if @page.respond_to? :prerequisites %>
          <%= render partial: 'show_page_dependencies' %>
      <% end %>
      <% if @page.respond_to? :children %>
          <%= render 'show_children' %>
      <% end %>
  <% end %>
</div>
