<% provide(:title, @page.title) %>
<% if @page.respond_to? :parent %>
    <div class='parent'>
      <%= link_to 'return to parent', @page.parent %>
    </div>
<% end %>
<div class='jumbotron pages'>
  <%= div_for @page, "data-update-url" => curriculum_page_url(@page) do %>
      <div class="page-header">
        <h1 class="page-title">
          <%= @page.title %>
        </h1>
      </div>
      <div id="tabs">
        <ul>
          <li><a href="#teacher-body">Teacher Body</a></li>
          <li><a href="#student-body">Student Body</a></li>
        </ul>
        <div id="teacher-body" class="octopieditable">
          <%= @page.teacher_body.html_safe %>
        </div>
        <div id="student-body" class="octopieditable">
          <%= @page.student_body.html_safe %>
        </div>
      </div>
  <% end %>
  <div id="submitbutton">
    <%= button_tag("Save Updates", :id => 'mysubmit') %>
  </div>
  <% if @page.respond_to? :children %>
      <div id="child-pages">
        <%= render partial: "children", object: @page, as: :page %>
      </div>
  <% end %>
</div>
