<% provide(:title, @page.title) %>
<% if @page.respond_to? :parent %>
    <div class='parent'>
      <%= link_to 'return to parent', @page.parent %>
    </div>
<% end %>
<div class='jumbotron pages'>
  <%= div_for @page, class: 'page', :'data-update-url' => url_for(@page) do %>
      <div class="page-header">
        <h1>
          <span id="page-title" contenteditable="true"><%= @page.title %></span>
        </h1>
      </div>
      <div id="tabs">
        <ul>
          <li><a href="#teacher-body">Teacher Body</a></li>
          <li><a href="#student-body">Student Body</a></li>
        </ul>
        <div id="teacher-body" class="octopieditable">
          <%= @page.teacher_body.html_safe %>
        </div>
        <div id="student-body" class="octopieditable">
          <%= @page.student_body.html_safe %>
        </div>
      </div>
      <%= simple_form_for @page, id: 'page-form', remote: true do |f| %>
          <div class="form-inputs">
            <%= f.hidden_field :title, class: 'title' %>
            <%= f.hidden_field :'student_body', class: 'student_body' %>
            <%= f.hidden_field :'teacher_body', class: 'teacher_body' %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update #{@page.title}" %>
          </div>
      <% end %>
      <% if @page.respond_to? :children %>
          <div id="child-pages">
            <%= render partial: "children", object: @page, as: :page %>
          </div>
      <% end %>
  <% end %>
</div>
