<% provide(:title, @page.title) %>
<% breadcrumb @page.class.name.underscore.to_sym, @page %>

<div class='pages'>
  <%= div_for @page, class: 'page', :'data-update-url' => url_for(@page), :'data-resource-type' => 'CurriculumPage', :'data-resource-id' => @page.curriculum_id do %>
      <div class="page-header">
        <h1>
          <span id="page-title" <%= 'contenteditable=true' if can? :update, @page %> ><%= @page.title %></span>
        </h1>

        <p>Last updated: <%= get_time(@page) %></p>
      </div>
      <%= render partial: 'page_body', object: @page, as: :page %>
      <% if @page.respond_to? :prerequisites %>
          <%= render partial: 'dependency_graph' %>
      <% end %>
      <% if @page.respond_to? :children %>
          <div id="child-pages">
            <%= render partial: 'children', locals: {page: @page, user_laplaya_files: @user_laplaya_files} %>
          </div>
      <% end %>
      <% if can? :update, @page %>
          <%= simple_form_for @page, html: {class: 'page-form form-horizontal', role: 'form'}, remote: true do |f| %>
              <div class="form-inputs">
                <div class="hidden-fields">
                  <%= render partial: 'hidden_fields', locals: {page: @page, f: f} %>
                </div>
                <div class="visible-fields">
                  <%= render partial: 'visible_fields', locals: {page: @page, f: f} %>
                </div>
              </div>
              <div class="form-actions">
                <%= f.submit "Save changes to #{@page.title}", class: 'btn btn-primary', id: 'update-page-btn', disabled: true %>
              </div>
          <% end %>
          <%= render 'destroy_link', object: @page %>
          <div class="row">
              <div class="col-md-6">
                <%= button_to 'Save a version', controller: controller_name, action: 'save_version'%>
              </div>
          </div>
      <% end %>
  <% end %>
</div>
