<div value = "<%=(activity[:students_who_unlocked].include? student[:id])? (student[:percent_done]*100).to_s[0..1] : -1%>" id="activity_<%= activity[:id] %>_student_<%= student[:id] %>"  >
  <% if activity[:students_who_unlocked].include? student[:id] %>
      <%= (student[:percent_done]*100).to_s[0..1] %>% Complete
  <% else %>
      <div class="unlock-button">
        <%= simple_form_for [@school_class, @activity_unlocks.build], html: {method: :post}, remote: true do |f| %>
            <%= f.hidden_field :activity_page_id, value: activity[:id] %>
            <%= f.hidden_field :student_id, value: student[:id] %>
            <%= f.hidden_field :from_student_progress_view, value: false %>
            <%= f.submit "Unlock", class: 'btn btn-xs btn-default' %>
        <% end %>
      </div>
  <% end %>
</div>
