<div class="activity-title-box">
  <%= @activity_page.title %>
</div>
<%= link_to 'Back', school_class_path(@school_class), class: "btn btn-default" %>

<%= render partial: "graph", locals: {graph_info: @graph_info} %>


<div id="activity-progress-div">
  Unlocked by <%= percent_unlocked(@activity_page, @activity_unlocks) %>%
  (<%= unlocked_count(@activity_page, @activity_unlocks) %>/<%= student_count %>) of students.
  <hr>
  <%= render partial: "activity_status", collection: @students, locals: {activity: @activity_page}, as: "student" %>
  <% unless unlocked_count(@activity_page, @activity_unlocks) == student_count %>
      <%= simple_form_for :students, url: manual_unlock_school_class_path(@school_class), action: :post do |f| %>
          <%= f.hidden_field :unlockable_id, value: @activity_page.id %>
          <%= f.hidden_field :unlockable_type, value: "Page" %>
          <%= f.submit 'Unlock All', class: "btn btn-warning unlock-all" %>
      <% end %>
  <% end %>
</div>
<hr>
<table class="table table-striped table-bordered">
  <%= render partial: "task_table_entry", collection: @activity_page.tasks, as: "task" %>
</table>
