<div class="activity-title-box">
  <%= link_to @activity_page.title, activity_page_path(@activity_page) %>
</div>
<%= link_to 'Back', school_class_path(@school_class), class: 'btn btn-default' %>

<%= render partial: 'graph', locals: {graph_info: @graph_info} %>

<hr>
<div id="progress-table-div">
  <%= render partial: 'progress_table' %>
</div>
<div id="reset-link-div">
  <%= link_to 'Reset progress for one or more students', school_class_reset_activity_view_path(@school_class, @activity_page) %>
</div>
<br>