<% inputType = "" %>
<% isChecked = "" %>
<% isChecked = "checked" unless showAnswer['correct']==false %>
<%if questionType=="singleAnswer"%>
    <% inputType = "radio"%>
<%else%>
    <% inputType = "checkbox" %>
<%end%>

<div class = 'answer'>
  <div class = 'answerHead is<%= "Notchecked" unless isChecked==="checked"%><%= isChecked%>'>
    This answer is correct: <input type = '<%=inputType%>' class = 'choices' name = 'answerChoice' <%=isChecked%>>
    <button class='deleteAnswer'>
        Remove Answer
    </button>
  </div>
  <div class = 'answerBox'>
    <div class = 'octopieditable answerText'>
        <%= showAnswer['text'].html_safe %>
    </div>
  </div>
</div>