<% checked = (showAnswer['correct']) ? 'checked' : '' %>
<% input_type = (question_type=='singleAnswer') ? 'radio' : 'checkbox' %>

<div class='answer'>
  <div class='answerHead <%= checked %>'>
    This answer is correct:<input type='<%= input_type %>' class='choices' name='answerChoice' <%= checked %>>
    <% if can? :update, @page %>
        <button class="deleteAnswer">Remove Answer</button>
    <% end %>
  </div>
  <div class='answerBox'>
    <div class='<%= 'octopieditable' if can? :update, @page %> answerText'>
      <%= showAnswer['text'].html_safe %>
    </div>
  </div>
</div>