<% status = task.get_visibility_status_for(student, @school_class) %>
<% if status == :locked %>
    <div class="student-status">
      <%= student.name %>: <span class="locked-span"> LOCKED </span>
      <div class="unlock-button">
        <%= simple_form_for :students, url: manual_unlock_school_class_path(@school_class), action: :post do |f| %>
            <%#= f.hidden_field :unlockable, value = task %>
            <%#= f.hidden_field :student, value = student %>
            <%= f.submit 'Unlock', class:"btn btn-xs btn-default" %>
        <% end %>
      </div>
    </div>
<% elsif status == :completed %>
    <div class="student-status">
      <%= student.name %>: <span class="completed-span"> <u>Complete</u> </span>
    </div>
<% else %>
    <div class="student-status">
      <%= student.name %>: <span class="unlocked-span"> Not yet complete. </span>
    </div>
<% end %>
