<tr
<%= 'class="warning"'.html_safe if unlocked_count(task) == 0 %>
<%= 'class="success"'.html_safe if completed_count(task) == @school_class.students.count %>>
  <td>
    <%= task.title %>
  </td>
  <td>
    Unlocked by <%= percent_unlocked(task) %>%
    (<%= unlocked_count(task) %>/<%= student_count %>) of students. <br>
    Completed by <%= percent_completed(task) %>%
    (<%= completed_count(task) %>/<%= student_count %>) of students.
  </td>
  <% if completed_count(task) == student_count %>
      <td>
        All Students have completed this task.
      </td>
  <% else %>
      <td>
        Student Progress:
        <%= render partial: "student_status", collection: @school_class.students, locals: {task: task}, as: "student" %>
        <% unless unlocked_count(task) == student_count %>
            <%= simple_form_for :students, url: manual_unlock_school_class_path(@school_class), action: :post do |f| %>
                <%#= f.hidden_field :unlockable, value = task %>
                <%#= f.hidden_field :student, value = student %>
                <%= f.submit 'Unlock All', class:"btn btn-medium btn-warning" %>
            <% end %>
        <% end %>
      </td>
  <% end %>
</tr>