<h1>Editing school</h1>

<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
  <br>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>
<!--Update Class Name-->

<br>
<div class="row">
    <%= render 'form' %>
</div>
<p></p>


<body>

<table id="classlist" class="sortable" style="width:1000px">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Login Name</th>
  </tr>
  <% @school_class.students.each do |s| %>
      <tr>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.login_name %></td>
      </tr>
  <%end%>
</table>

</body>

<!--Add existing student to class-->

<div class="row" id="existing_student">
  <p><strong>Add an existing student at the school to the class:</strong></p>
    <%= simple_form_for :student, url: add_student_school_class_path(@school_class) , method:'post', remote: true do |f| %>
       <div class="col-md-6">
        <div class="form-inputs">
          <%=f.input :id,collection: (@school_class.school.students-@school_class.students), selected:0, :input_html => {id: "existing_student_list"}, label:false %>
          </div>
        </div>
      <div class="col-md-1">
        <div class="form-actions" >
          <%= f.button :submit, 'Add', id: "add_existing_student_button"%>
        </div>
      </div>
    <% end %>
 </div>
<p></p>


<!--Add new student to class-->

<div class="row" id="new_student">
  <div class="col-md-6">
    <%= simple_form_for :student,  url: add_new_student_school_class_path(@school_class.id), method:'post', remote: true, html: {id: 'create_and_add_student_form', style: "display: none"} do |f|  %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, class: "input", required: true, autofocus: true %>
          <%= f.input :last_name, class: "input",required: true, autofocus: true %>
          <%= f.input :login_name, class: "input",required: true, autofocus: true %>
          <%= f.input :password,class: "input",required: true %>
          <%= f.input :password_confirmation,class: "input",required: true %>
          </div>
          <div class="form-actions">
          <%= f.button :submit,  "Add New Student" %>
        </div>
    <% end %>
    </div>
</div>
<p></p>
<div class="row">
  <div class="col-md-6">
    <button  id="cancel_button" style= "display: none" type="button"  class="btn btn-primary">Cancel</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <button  id="toggle_add_new_student_button" type="button"  class="btn btn-primary">Add New Student</button>
    </div>
</div>

<p></p>
<%= link_to 'Back', school_class_path, class: "btn btn-default" %>
