<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
  <br>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>
<div id="action-top">
  Please resolve any problems and confirm that the following is correct before continuing:
</div>
<hr>
<div class="small-font">
  Uncheck any you want to exclude.
</div><br>
<div id='actions-form'>
  <%= simple_form_for :student_csv, url: do_csv_actions_school_class_path(@school_class), method: 'post' do |f| %>
      <% @actions.each_with_index { |action, i| %>
          <% unless action == nil || action[:action] == nil %>
              <% if action[:flags].include? :error %>
                  <div class='action-error-div'>
                    <div class="small-font">
                      This action will be skipped unless resolved in the document
                    </div>
                    <%= render partial: 'edit_students_via_csv_errors', locals: {action: action} %>
                  </div>
              <% else %>
                  <% div_class = ((action[:flags].blank? or action[:flags].all? { |x| x.is_a? Integer }) ? 'action-success-div' : 'action-problem-div') %>
                  <% case action[:action] %>
  <!-- This keeps auto formating over here and i dont know why-->
  <% when :create %>
                      <div class='<%= div_class %>'>
                        <div class="confirm-box">
                          <input class='do-this-box' type="checkbox" checked>
                        </div>
                        Student <%= action[:first_name] %> <%= action[:last_name] %> will be created and added
                        to <%= @school_class.name %>
                        with login name <%= action[:login_name] %> and password <%= action[:password] %>.<br>
                        <%= render partial: 'edit_students_via_csv_errors', locals: {action: action} %>
                        <%= f.input "action_#{i}", input_html: {value: action.to_json}, as: :hidden %>
                      </div>
                  <% when :change_password %>
                      <div class='<%= div_class %>'>
                        <div class="confirm-box">
                          <input class='do-this-box' type="checkbox" checked>
                        </div>
                        <% if action[:flags].include? :id_login_name_mismatch %>
                            Student <%= @school_class.school.students.find(action[:flags][0]).name %>
                        <% else %>
                            Student <%= action[:first_name] %> <%= action[:last_name] %>
                        <% end %>will have their password changed
                        to <%= action[:password] %>.<br>
                        <%= render partial: 'edit_students_via_csv_errors', locals: {action: action} %>
                        <%= f.input "action_#{i}", input_html: {value: action.to_json}, as: :hidden %>
                      </div>
                  <% when :add_to_class %>
                      <div class='<%= div_class %>'>
                        <div class="confirm-box">
                          <input class='do-this-box' type="checkbox" checked>
                        </div>
                        <% if action[:flags].include? :id_login_name_mismatch %>
                            Student <%= @school_class.school.students.find(action[:flags][0]).name %>
                        <% else %>
                            Student <%= action[:first_name] %> <%= action[:last_name] %>
                        <% end %> will be added
                        to <%= @school_class.name %>.<br>
                        <%= render partial: 'edit_students_via_csv_errors', locals: {action: action} %>
                        <%= f.input "action_#{i}", input_html: {value: action.to_json}, as: :hidden %>
                      </div>
                  <% else %>
                  <% end %>
              <% end %>
          <% end %>
      <% } %>
      <%= f.button :submit, 'Continue', class: 'btn btn-primary', id: 'continue-btn' %>
      <%= link_to 'Cancel', edit_school_class_path(@school_class), class: 'btn btn-default' %>
  <% end %>
</div>