<h1>Editing school</h1>

<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
  <br>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>
<!--Update Class Name-->

<div class="row basic-info">
  <%= render 'form' %>
</div>
<div class="row">
  <table id="classlist" class="sortable">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Login Name</th>
    </tr>
    <% @school_class.students.each do |s| %>
        <tr>
          <td><%= s.first_name %></td>
          <td><%= s.last_name %></td>
          <td><%= s.login_name %></td>
        </tr>
    <% end %>
  </table>
</div>

<!--Add existing student to class-->

<div class="row" id="existing_student">
  <p><strong>Add an existing student at the school to the class:</strong></p>
  <%= simple_form_for :student, url: add_student_school_class_path(@school_class), method: 'post', remote: true do |f| %>
      <div class="col-md-6 form-inputs">
        <%= f.input :id, collection: (@school_class.school.students-@school_class.students), selected: 0, :input_html => {id: "existing_student_list"}, label: false %>
      </div>
      <div class="col-md-1 form-actions">
        <%= f.button :submit, 'Add', id: "add_existing_student_button" %>
      </div>
  <% end %>
</div>

<!--Add new student to class-->

<div class="row hidden" id="new_student">
  <%= render 'new_student_form' %>
</div>
<p></p>
<div class="row">
  <div class="col-md-6">
    <%= button_tag :'Add New Student', class: "btn btn-primary", type: "button", id: 'new_student_button' %>
  </div>
</div>

<p></p>
<%= link_to 'Back', school_class_path, class: "btn btn-default" %>
