<% provide(:title, "#{@school.name} | Classes") %>
<h1>Classes in <%= link_to @school.name, @school %></h1>

<div class="panel panel-default panel-body">
  <% @school.school_classes.each do |school_class| %>
      <p>
        <%= link_to school_class.name, school_class_path(school_class) %> --
        <%= link_to "Edit", edit_school_class_path(:id => school_class.id) %>
        <label>Teachers: </label>
        <% Staff.all.each do |staff| %>
            <% school_classes = SchoolClass.with_role(:teacher, staff)%>
            <% class_staff  = Array.new%>
            <% if school_classes.include?(school_class) %>
                <% class_staff.push(staff.name) %>
            <% end %>
            <% class_staff.each do |class_staff_name|%>
                (<%= class_staff_name %>)
            <% end %>
        <% end %>
      </p>
  <% end %>
</div>
<p>
  <%= link_to 'Add a new class', new_school_school_class_path(@school) %>
</p>

<p>
<%= link_to 'Back to '+@school.name, @school %>
</p>