<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
</p>
<p>
  <strong>Class name:</strong>
  <%= @school_class.name %>
</p>
<p>

</p>


<!--Class list-->

<body>
<table id="classlist" class="sortable" style="width:1140px">
  <thead>
  <tr>
    <th>First Name</th>
    <th class="sorttable_alpha">Last Name</th>
    <th class="sorttable_alpha">Login Name</th>
    <th>Progress</th>
  </tr>
  </thead>
  <tbody>
  <% ordered_students.each do |s| %>
      <tr>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.login_name %></td>
        <td><%= link_to 'View Progress', school_class_student_progress_path(@school_class, s) %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot></tfoot>
</table>

</body>


<div id="curriculum-div">
  Curriculum:
</div>
<hr>
<div id="overall progress">
  <%= bar_chart ({'Completed %' => average_task_completion*100, 'Unlocked %' => average_task_unlock*100}),
                max: 101,
                height: '100px',
                library: {hAxis: {title: 'Percent of tasks completed and unlocked, averaged over all students'}} %>
</div>
<% unless teacher_using_test_student? %>
    <%= button_to "Sign in as Test Student", {action: "view_as_student", school_class_id: @school_class.id},
                  class: "btn btn-default", method: :get %>
<% else %>
    <div class = "small-font">Includes test student when signed in as one.</div>
    <%= button_to "View as Test Student", {action: "view_as_student", school_class_id: @school_class.id},
                  class: "btn btn-default btn-sm", method: :get %>
    <%= button_to "Sign Out Test Student", {action: "signout_test_student", school_class_id: @school_class.id},
                  class: "btn btn-default btn-sm", method: :delete %>
    <%= button_to "Reset Test Student", {action: "reset_test_student", school_class_id: @school_class.id},
                  class: "btn btn-default btn-sm", method: :delete %>
<% end %>
<%= render partial: 'list_module_page', collection: @module_pages, as: 'module_page' %>
<br>
<br>
<p>

  <%= link_to 'Back', school_school_classes_path(@school_class.school), class: 'btn btn-default' %>
  <%= link_to 'Edit Class', edit_school_class_path, class: 'btn btn-primary' %>
</p>

