<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
</p>
<p>
  <strong>Class name:</strong>
  <%= @school_class.name %>
</p>
<p>

</p>
<p>
  <%= link_to 'Back', school_school_classes_path(@school_class.school), class: 'btn btn-default' %>
  <%= link_to 'Edit Class', edit_school_class_path, class: 'btn btn-primary' %>
</p>
<div id="overall progress">
  <%= column_chart (@graph_info),
                   colors: getShowColors,
                   stacked: true,
                   library: {vAxis: {title: '# of Students who have completed X tasks'}} %>
</div>
<!--Class list-->

<body>
<table id="classlist" class="sortable" style="width:1140px">
  <thead>
  <tr>
    <th>First Name</th>
    <th class="sorttable_alpha">Last Name</th>
    <th class="sorttable_alpha">Login Name</th>
    <th class="sorttable_nosort">Progress</th>
  </tr>
  </thead>
  <tbody>
  <% ordered_students.each do |s| %>
      <tr>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.login_name %></td>
        <td>
          <div class="mini-chart-div">
            <%= column_chart (@student_mini_graphs[s.id]),
                             max: 100,
                             height: "30px",
                             colors: ["27AB1E"],
                             library: {enableInteractivity: false,
                                       column: {
                                         group_width: "100%"
                                       },
                                       width: 100, vAxis: {
                                             baselineColor: '#fff',
                                             gridlines: {
                                                     color: '#EEE',
                                                     count: 4
                                             },
                                             textPosition: 'none'},
                                       hAxis: {title: 'Activity'}} %>
            <div>
              Completion % per Activity
            </div>
          </div><%= link_to 'View Progress', school_class_student_progress_path(@school_class, s) %>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot></tfoot>
</table>
</body>


<div id="curriculum-div">
  Curriculum:
</div>
<hr>
<% unless teacher_using_test_student? %>
    <div id="test-student-div">
      <%= button_to "Sign in as Test Student", {action: "view_as_student", school_class_id: @school_class.id},
                    class: "btn btn-default", method: :get %>
    </div>
<% else %>
    <div id="test-student-div">
      <%= button_to "View as Test Student", {action: "view_as_student", school_class_id: @school_class.id},
                    class: "btn btn-default", method: :get %>
      <%= button_to "Sign Out Test Student", {action: "signout_test_student", school_class_id: @school_class.id},
                    class: "btn btn-default", method: :delete %>
      <%= button_to "Reset Test Student", {action: "reset_test_student", school_class_id: @school_class.id},
                    class: "btn btn-default", method: :delete %>
    </div>
<% end %>
<%= render partial: 'list_module_page', collection: @module_pages, as: 'module_page' %>
<br>
<br>


