<% provide(:title, @school_class.name) %>
<% breadcrumb :staff_school_class, @school_class %>
<div class="row">
  <div class="col-md-6">
    <%= render 'class_info_well' %>
  </div>
  <div class="col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-12">
          <%= link_to 'Edit Class', edit_school_class_path, class: 'btn btn-primary' %>
          <%= link_to 'Edit Students', edit_students_school_class_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-sm-12">
          <%= link_to 'View this class\' curriculum', '#curriculum-div', class: 'btn btn-default smoothscroll' %>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-sm-12">
          <% if teacher_using_test_student? %>
              <div id="test-student-div">
                <%= button_to 'View as Test Student', {action: 'view_as_student', school_class_id: @school_class.id},
                              class: 'btn btn-default', method: :get %>
                <%= button_to 'Sign Out Test Student', {action: 'signout_test_student', school_class_id: @school_class.id},
                              class: 'btn btn-default', method: :delete %>
                <%= button_to 'Reset Test Student', {action: 'reset_test_student', school_class_id: @school_class.id},
                              class: 'btn btn-default', method: :delete %>
              </div>
          <% else %>
              <div id="test-student-div">
                <%= button_to 'Sign in as Test Student', {action: 'view_as_student', school_class_id: @school_class.id},
                              class: 'btn btn-default', method: :get %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title nocenter">Class List</h3>
  </div>
  <table id="classlist" class="table sortable">
    <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th class="sorttable_alpha">Last Name</th>
      <th class="sorttable_alpha">Login Name</th>
      <th>Progress</th>
    </tr>
    </thead>
    <tbody>
    <% ordered_students.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.first_name %></td>
          <td><%= s.last_name %></td>
          <td><%= s.login_name %></td>
          <td><%= link_to 'View Progress', school_class_student_progress_path(@school_class, s) %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot></tfoot>
  </table>
  <small>Includes test student when signed in as one.</small>
</div>

<div id="curriculum-div" class="panel panel-default top-buffer">
  <div class="panel-heading">
    <h3 class="panel-title nocenter">Curriculum Progress</h3>
  </div>
  <div class="panel-body">
    <div id="overall_progress">
      <%= bar_chart ({'Completed %' => average_task_completion*100, 'Unlocked %' => average_task_unlock*100}),
                    max: 101,
                    height: '100px',
                    library: {hAxis: {title: 'Percent of tasks completed and unlocked, averaged over all students'}} %>
    </div>
    <%= render partial: 'list_module_page', collection: @module_pages, as: 'module_page' %>
  </div>
</div>
