<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
  <br>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>


<!--Class list-->
<head>
  <style>
      table.sortable thead {
          background-color:#B2B2FF;
          color:#666666;
          font-weight: bold;
          cursor: default;
      }
      table,th,td
      {
          border:1px solid black;
          border-collapse:collapse;
      }
      th,td
      {
          padding:5px;
      }
  </style>
  <script src="/sorttable.js"></script>
</head>
<body>

<table id="classlist" class="sortable" style="width:1140px">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Login Name</th>
    <th>Progress</th>
  </tr>
  <% @school_class.students.each do |s| %>
      <tr>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.login_name %></td>
        <td></td>
      </tr>
  <%end%>
</table>

</body>


<br>
<p>

  <%= link_to 'Back', school_school_classes_path(@school_class.school), class: "btn btn-default" %>
  <%= link_to 'Edit Students', edit_school_class_path, class: "btn btn-primary"  %>
</p>

