<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
  <br>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>


<!--Class list-->

<body>
<table id="classlist" class="sortable" style="width:1140px">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Login Name</th>
    <th>Progress</th>
  </tr>
  </thead>
  <% @school_class.students.each do |s| %>
      <tr>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.login_name %></td>
        <td><%= link_to "View Progress", school_class_student_progress_path(@school_class,s)%></td>
      </tr>
  <% end %>
</table>

</body>


<div id="curriculum-div">
  Curriculum:
</div>
<hr>
<%= render partial: "list_module_page", collection: @module_pages, as: "module_page" %>
<br>
<br>
<p>

  <%= link_to 'Back', school_school_classes_path(@school_class.school), class: "btn btn-default" %>
  <%= link_to 'Edit Students', edit_school_class_path, class: "btn btn-primary" %>
</p>
