<p>
  <strong>School:</strong>
  <%= @school_class.school.name %>
  <br>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>

<div class="row">
  <div class="col-md-3"><strong>Student Name</strong>
    </div>
  <div class="col-md-3"><strong>Login Name</strong></div>
</div>
<% @school_class.students.each do |s| %>
    <div class="row">
        <div class="col-md-3"><%= s.name %></div>
      <div class="col-md-3"><%= s.login_name %></div>
    </div>
<%end%>

<br>
<p>
  <%= link_to 'Back', school_school_classes_path(@school_class.school) %>
</p>

