<ul id="children" <%= 'class=octopisortable' if can? :update, page%> >
  <%= render partial: "page", collection: children_visible_to_me(page) %>
</ul>
<% if can? :update, @page %>
    <%= simple_form_for( [page, page.children.build], html: {class: 'new_child_page'}, remote: true) do |f| %>
        <%= f.hidden_field :title, value: 'New Module' %>
        <%= f.hidden_field :teacher_body, value: '<p></p>' %>
        <%= f.hidden_field :student_body, value: '<p></p>' %>
        <%= f.hidden_field :designer_note, value: '<p></p>' %>
        <%= f.submit "Add a new module", class: "btn btn-default", id:"add-new-child-btn"  %>
    <% end %>
<% end %>