<% path = get_path_for_task(child) %>
<% if status = child.get_visibility_status_for(current_student, current_school_class) %>
    <% if status == :locked %>
        <div class="child-link locked <%= render partial: "special_attribute_classes", locals: {model: child} %>">
          <%= image_tag('padlock.png', size: '21') %>
          <%= child.title %>
          <div class="dependency-text">
            <% if child.prerequisites.count == 1 %>
                First finish <%= child.prerequisites.first.title %>.
            <% else %>
                First finish
                <% child.prerequisites.each_with_index { |x, i| %>
                    <%= "and" unless i == 0 %> <%= x.title %>
                <% } %>.
            <% end %>
          </div>
        </div>
    <% elsif status == :completed %>
        <div class="child-link complete <%= render partial: "special_attribute_classes", locals: {model: child} %>">
          <%= link_to child.title, path %>
        </div>
    <% else %>
        <div class="child-link <%= render partial: "special_attribute_classes", locals: {model: child} %>">
          <%= link_to child.title, path %>
        </div>
    <% end %>
<% end %>