<div class="row">

  <div class="col-xs-12 col-sm-4 col-sm-push-8">
    <%= simple_form_for :school, url: schools_path, method: 'get' do |f| %>
        <div class="form-inputs">
          <%= f.input :id, include_blank: false, collection: School.accessible_by(current_ability, :show), selected: @school.id, label: 'Select a different school to administer' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Switch schools' %>
        </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-pull-4">
    <p>
      <strong>Name:</strong>
      <%= @school.name %>
    </p>

    <p>
      <strong>Student remote access allowed:</strong>
      <%= @school.student_remote_access_allowed %>
    </p>

    <% if can? :update, @school %>
        <p>
          <strong>Ip range:</strong>
          <%= @school.ip_range %>
        </p>


          <%= link_to 'Change school settings', edit_admin_school_path(@school), class: "btn btn-default" %>
    <% end %>

      <%= link_to 'View school\'s students', school_students_path(@school), class: "btn btn-default" %>

      <%= link_to 'View school\'s classes', school_school_classes_path(@school), class: "btn btn-default" %>
      <% @school.school_classes.each do |school_class| %>
        <p class = "list-group-item">
          <%= link_to school_class.name, school_class_path(school_class) %>
          <label>Teachers: </label>
          <% Staff.all.each do |staff| %>
              <% school_classes = SchoolClass.with_role(:teacher, staff)%>
              <% class_staff  = Array.new%>
              <% if school_classes.include?(school_class) %>
                  <% class_staff.push(staff.name) %>
              <% end %>
              <% class_staff.each do |class_staff_name|%>
                  (<%= class_staff_name %>)
              <% end %>
          <% end %>
        </p>
      <% end %>
  </div>

</div>
