<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <% if staff_signed_in? %>
    <li><%= link_to 'LaPlaya', student_portal_laplaya_path %></li>
    <% end %>
    <li><%= link_to 'Student Portal', student_portal_root_path %></li>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Admin Account<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% if staff_signed_in? %>
            <li><%= link_to 'Administration Panel', admin_root_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Profile', '#' %></li>
            <li><%= link_to 'Settings', edit_staff_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_staff_session_path, method: 'delete' %></li>
        <% else %>
            <li><%= link_to 'Sign In', new_staff_session_path %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>