<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <% if signed_in_student? %>
        <li><%= link_to 'Student Homepage', student_portal_root_path %></li>
    <% end %>
    <% if staff_signed_in? %>
        <li><%= link_to 'Staff Homepage', staff_home_path %></li>
        <% unless @current_school_class.nil? %>
            <li><%= link_to 'Back to your your class', school_class_path(@current_school_class) %></li>
        <% end %>
    <% end %>
    <% unless signed_in_student? %>
        <%= render 'no_current_student_links' %>
    <% end %>
    <%= render 'header_static_links' %>
    <% if staff_signed_in? %>
        <%= render 'staff_signed_in_dropdown' %>
    <% elsif signed_in_student? %>
        <%= render 'student_signed_in_dropdown' %>
    <% end %>
  </ul>
</div>