<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'laplaya_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>LaPlaya</title>
  <script type="text/javascript">
      var world;

      window.onload = function () {
          world = new WorldMorph(document.getElementById('world'));
          new IDE_Morph(<%= raw @laplaya_ide_params.to_json %>).openIn(world);
          setInterval(loop, 1);
          (function () {
              var unloadHandler = window.onbeforeunload;
              window.onbeforeunload = function (event) {
                  if (unloadHandler) unloadHandler(event);

                  if (typeof recordTime() != 'undefined') {
                      recordTime()
                  }
              }
          })();
      };
      function loop() {
          world.doOneCycle();
      }

      <% unless @laplaya_task_response.nil? || current_student.nil? || @laplaya_task_response.student!=current_student || @interval.nil? %>
      $.idleTimer(10000);
      var time_interval_id = <%= @interval.id %>;
      var laplaya_task_response_id = <%= @laplaya_task_response.id %>;
      var user_is_interacting_with_page = true;
      set_record_time_functions();
      <% end %>

  </script>
</head>
<body style="margin: 0;">
<canvas id="world" tabindex="1" style="position: absolute;"></canvas>
</body>
</html>
