<h1>Listing reports</h1>

<ul id="index_report_list" class="list-group">
    <% @reports.each do |report| %>
      <li class="list-group-item">
        <span class="badge"><%= link_to 'Show', report %> | <%= link_to 'Clone', clone_report_path(report) %> | <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></span>

          <div class="panel report">
              <div class="panel-header"><%= report.name %></div>
              <div class="panel-body">
                  <p><strong>Description: </strong> <%= report.description %></p>
                  <p><strong>Students: </strong> <%= report.students.count %></p>
              </div>
          </div>
      </li>
    <% end %>
</ul>
<br>

<%= link_to 'New Report', new_report_path %>
