<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong><%= link_to "Download Code", report_code_path(@report, @report.code_filename) %></strong>
</p>

<div id="show_report_classes" class="panel">
    <div class="panel-header"><strong>Classes: (<%= @report.students.count %> students total)</strong></div>
    <div class="panel-body">
    <ul class="list-group">
        <% @report_classes.each do |cls| %>
            <li class="list-group-item">
                <span class="badge"><%= cls.students.length %> students</span>
                <%= cls.name %>
            </li>
        <% end %>
    </ul>
    </div>
</div>

<div id="show_report_modules" class="panel">
    <div class="panel-header"><strong>Tasks:</strong></div>
    <div class="panel-body">
        <ul class="list-group">
            <% @report_modules.each do |mod| %>
                <li class="list-group-item">
		  <div class="module panel">
		    <div class="panel-header"><%= mod.title %>
		      <ul class="module-options">
			<li class="module-options-project">Design Project:
			  <% if @report.report_module_options.where(module_page: mod, include_project: true).length != 0 %>
			  <span style="color:green">&#x2714;</span>
			  <% else %>
			  <span style="color:red">&#x2715;</span>
			  <% end %>
			</li>
			<li class="module-options-sandbox">Sandbox:
			  <% if @report.report_module_options.where(module_page: mod, include_sandbox: true).length != 0 %>
			  <span style="color:green">&#x2714;</span>
			  <% else %>
			  <span style="color:red">&#x2715;</span>
			  <% end %>
			</li>
		      </ul>
		    </div>
		    <div class="panel-body">
		      <ul class="list-group">
		      <% @report_activities.where(module_page: mod).order(:position).each do |ap| %>
		      <li class="list-group-item">
			<ul class="list-group">
			  <% @report.tasks.where(page_id: ap.id).order(:position).each do |t| %>
			  <li class="list-group-item">
			    <%= t.title %>
			  </li>
			  <% end %>
			</ul>
		      </li>
		      <% end %>
		      </ul>
		    </div>
		</li>
            <% end %>
        </ul>
    </div>
</div>

<div class="panel" id="report-runs">
  <div class="panel-header"><strong>Report Runs:</strong> <%= button_to "Create new run", [:create_run, @report] %></div>
  <div class="panel-body">
    <table>
      <thead>
	<tr><th>Files processed</th><th>Created</th><th>Options</th></tr>
      </thead>
      <tbody>
	<% @report.report_runs.each do |run| %>
	<tr>
            <td><%= run.report_run_results.count %></td>
            <td><%= run.created_at %></td>
            <td>
                <%= link_to "View", report_run_path(@report, run) %>
                |
                <%= link_to "Download", report_run_path(@report, run, format: :csv) %>
            </td>
        </tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Clone', clone_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
