<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <a href="<%= @report.code.url %>">Code</a>
</p>

<div id="show_report_classes" class="panel">
    <div class="panel-header"><strong>Classes: (<%= @report.students.count %> students total)</strong></div>
    <div class="panel-body">
    <ul class="list-group">
        <% @report_classes.each do |cls| %>
            <li class="list-group-item">
                <span class="badge"><%= cls.students.length %> students</span>
                <%= cls.name %>
            </li>
        <% end %>
    </ul>
    </div>
</div>

<div id="show_report_tasks" class="panel">
    <div class="panel-header"><strong>Tasks:</strong></div>
    <div class="panel-body">
        <ul class="list-group">
            <% @report_tasks.each do |task| %>
                <li class="list-group-item"><%= task.title %></li>
            <% end %>
        </ul>
    </div>
</div>

<%= link_to 'Clone', clone_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
